$primary-color--one: #7918D9;
$primary-color--two: #D9A918;
$secondary-color--one: #6C3659;
$secondary-color--two: #0893B9;
$secondary-color--three: #1F0F2B;
$secondary-color--four: #ECD48B;
$complementary-color--one: #F1F1F1;
$complementary-color--two: #D9DBDB;
$complementary-color--tree: #464646;
$complementary-color--four: #7918D980;
$complementary-color--five: #D9A91880;
$complementary-color--six: #6C365980;
$complementary-color--seven: #0893B980;
$color-heart--empty: #8E8E8E;
$color-heart--full: #F35353;
$Bgcolor-heart--empty: #E5E5E5;
$Bgcolor-heart--full: #BF80FF33;
$border--profile: #CBCBCB;


